.button {
    border: none;
    outline: none;
    padding: 0.5rem;
    background: var(--btnColor);
    border-radius: 3px;

    transition: background 500ms ease-in-out;
    cursor: pointer;
}

.button:hover {
    background: yellow;
}