.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 50%;
}

.btnContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
}

.formHandler {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 2rem;
}