.container {
    margin-top: 3rem;
    transition: display 100ms ease;
}

.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.loading {
    display: none;
    transition: display 100ms ease;
}

.li {
    width: 60%;
    border: 1px solid var(--btnColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    transition: border-color ease-in 100ms;
}

.title {
    text-align: center;
}   

.btnContainer { 
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.button {
    width: 30%;
    padding: 0.5rem;
}

.p {
    text-align: center;
}

.done {
    border-color: orange;
}