:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --fontColor: rgba(209, 196, 196, 0.87);
  --bgDark: #313131;
  --btnColor: rgb(60, 167, 216);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bgDark);
  color: var(--fontColor);
}

.btnContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 1rem;
}